body{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#left-bilbilak{
    display: inline-block;
    background-color: white;
    width: 30px;
    height: 200px;
    margin-left: 30px;
    border-radius: 100px;
}

#right-bilbilak{
    display: inline-block;
    float: right;
    background-color: white;
    width: 30px;
    height: 200px;
    margin-right: 30px;
    border-radius: 100px;
}

#ball{
    background-color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#ball-container{
    float: right;
    margin: 0 auto;
    display: inline-block;
    width: calc(100% - 120px);
    height: 100vh;
}
span{
    color: red;
    font-size: 30px;
    position: fixed;
    top: 80px;
    left: 5px;
}

#left-score{
    rotate: -90deg;
}

#right-score{
    rotate: 90deg;
}
#result{
    font-size: 200px;
    color: white;
    text-align: center;
    margin-top: 30vh;
    display: none;
    font-weight: 700;
}

#new-game{
    display: none;
}

#new-game-btn{
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    font-size: 30px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}